* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: coolvetica;
}

header {
    background-color: #c1daf1;
    color: #202835;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #354a78;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 2px;
}

header p {
    font-size: 1.2rem;
    text-align: center;
}

div {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fdc8d9;
    box-shadow: 0 0 8px rgba(63, 1, 38, 0.1);
}

h3 {
    color: #602e45;
    text-align: center;
    margin-bottom: 15px;
}

.bii-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #cee6fa;
    object-fit: cover;
    transition: all 0.3s ease;
}

.bii-picture:hover {
    transform: scale(1.05);
}

.text-paragraf {
    display: flex; 
    align-items: center; 
    gap: 20px;
    flex: 1;
}

p {
    line-height: 1.5;
    text-align: justify;
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

li {
    color:#333;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #360b12;
}

.getintouch {
    text-align: center;
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;   
}

button {
    background-color: #ffa6c8;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ffafcc;
    transform: scale(1.05);
}

button a {
    color: #2b2b2b;
}

footer {
    background-color: #bde0fe;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    color: #333;
    border-top: 1px solid #354a78;
}